export(rforcecom.login)
export(rforcecom.query)
export(rforcecom.search)
export(rforcecom.create)
export(rforcecom.retrieve)
export(rforcecom.update)
export(rforcecom.upsert)
export(rforcecom.delete)
export(rforcecom.getServerTimestamp)
export(rforcecom.api.getSoapEndpoint)
export(rforcecom.api.getRestEndpoint)
export(rforcecom.api.getSoqlEndpoint)
export(rforcecom.api.getSoslEndpoint)
export(rforcecom.api.getObjectEndpoint)
export(rforcecom.api.getRecordEndpoint)
export(rforcecom.api.getFieldEndpoint)
export(rforcecom.api.getExternalIdFieldEndpoint)

